body {
	font-size: 2em;
}
  /*Бургер*/
header {
	max-height: 120px;
}
main {
	padding-top: 120px;
}
header > h1, header > p {
	display: none;
} 
#submenu+label {
	display: flex;
	justify-content: center;
	line-height: 120px;
	font-size: 2.5em;
	width: 100%;
}
nav {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	font-size: 0;
	max-height: 0;
	overflow: hidden;
	position: absolute;
	top: 119px;
	left: 0;
	transition: .5s;
	width: 100%;
}
nav a {
	display: block;
	padding: 35px 0px;
	width: 100vw;
}
input#submenu:checked~nav {
	background-color: black;
	font-size: 1.5em;
	max-height: 100vh;
	transition: .5s;
}
.burger-line {
	background-color: white;
	display: block;
	position: absolute;
	top: 30px;
	right: 30px;
	height: 5px;
	width: 90px;
	transition: .5s;
}
.second, .third {
	top: 60px;
}
.fourth {
	top: 90px;
}
input#submenu:checked ~ .first, input:checked ~ .fourth {
	opacity: 0;
	transition: .5s;
}
input#submenu:checked ~ .second {
	transform: rotate(45deg);
	transition: .5s;
}
input#submenu:checked ~ .third {
	transform: rotate(-45deg);
	transition: .5s;
}

/* Стили для index.html и about_us.html */
.welcome {
	font-size: 1.5em;
}
.services, .equipment, .staff {
	display: flex;
	flex-direction: column;
}
.services  img{
	width: 65vw;
}
.second_cell {order:1;}
.third_cell {order:2;}
.fourth_cell {order:3;}
.fifth_cell {order:4;}
.sixth_cell {order:5;}
.seventh_cell {order:6;}
.eighth_cell {order:7;}
.ninth_cell {order:8;}
.tenth_cell {order:9;}
.eleventh_cell {order:10;}
.twelveth_cell {order:11;}

.equipment p {
	margin-top: -5px; /*не было никакого отступа*/
	margin-bottom: 100px;
}
/* Стили для shinomontazh.html */
.shinomontazh {
font-size: 1.1em;
}
.shinomontazh th:first-child {
	width: 10%;
}
.shinomontazh td:nth-child(n+5),
.shinomontazh th:nth-child(n+5)  {
	display: none;
}
.repair_service {
	width: 80%;
}
/*Стили для tires.html*/ 
.tires {
	font-size: 0.8em;
}
/* Стили для oil.html */
.oil_brand {
	margin: auto;
	width: 100%;
}
.oil_brand:before {
	content: "(нажмите на бренд, чтобы посмотреть, какие масла этого бренда есть в наличии)";
	display: table;
	clear: both;
	font-size: 1.3em;
	margin: -30px 10px 30px;
}
.oil_brand > div {
	width: 100%;
}
.oil_brand > div > label {
	display: flex;
	justify-content: center;
	font-size: 2em;
	line-height: 2em;
}
.oil_brand > div > div {
	display: grid;
	place-items: center center;
	font-size: 48px;
	overflow: hidden;
	position: static;
	margin: auto;
	height: 0;
	width: 100%;
	transform: none;
} 
.oil_brand > div:hover > div {
	transform: none;
}
.oil_brand > div > div > p {
	height: 100%;
	padding-bottom: 10px;
}
.oil_brand > .toyota > div > p {
	font-size: 48px;
	height: 100%;
}
.oil_brand input:checked ~ div {
	height: auto;
	transform: none;
}
.oil_link {
	position: static;
	font-size: 1.5em;
	padding: 50px 0px;
	margin: auto;
	width: 95%;
}
.oil_brand:hover .oil_link {
	opacity: 1;
}
