@font-face {
    font-family: 'Azoft_Sans';
    src: url('font/azoft-sans.ttf');
    src: url('font/azoft-sans.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
body {
	background-color: black;
	color: white;
	font-family: 'Azoft_Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 200%;
	margin: 0px;
	padding-bottom: 40px;
}
header {
	align-items: center;
	background-color: black;
	display: inline-flex;
	height: 60px;
	justify-content: space-between;
	min-width: 1000px;
	position: fixed;
	width: 100%;
	z-index: 1; /*для перекрытия position: absolute;*/
}
a {
	color: white;
	text-decoration: none;
}
nav a, header > h1 {
  padding: 15px;
}
nav :last-child {
  padding-right: 30px;
}
main {
	padding-top: 60px;
	text-align: center;
}
.welcome {
	background: url(images/homepage/welcome_img.jpg) no-repeat center;
	background-size: 100%;
	display: table;
	font-size: 3em;
	height: 767px;
	line-height: 200%;
	margin: auto;
	text-align: center;
	width: 100%;
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
}
.services {
	display: grid;
	gap: 1vw;
	grid-template: 420px auto 420px auto 420px auto / 50% 50%;
	margin: auto;
	place-items: center center;
	width: 1020px;
}
.services img {
  max-height: 100%;
  max-width: 100%;
}
.services .grid_cell {
	align-self: start;
}
main .topic {
  padding: 30px;
}
.about_us {
	margin: auto;
  width: 50%;
}

/*Стили для shinomontazh.html и discs.html*/
.shinomontazh, .discs {
	font-size: 1.3em;
	margin: auto;
	width: 1020px;
}
.table_name {
	text-align: right;
}
.table_name img, .table_name h2,     /*делаю ячейки меньше*/
.repair_tires :nth-child(n),
.ventil_installation :nth-child(n),
.other :nth-child(n), .straightening :nth-child(n) {
	margin: 5px;
}
.shinomontazh p, .shinomontazh td,
.discs p {                       /*голубой цвет для цен*/
	color: lightblue;
}
.star_text {
	font-size: 0.7em;
}
.grid_car_table {
	display: grid;
	grid-template: 4fr repeat(8, 1fr) / 0.8fr repeat(5, 1fr);
	place-items: center center;
}
.grid_car_table p {
	margin: 0px;
}
.shinomontazh table {
	border-collapse: collapse;
	margin-top: 20px;
}
.shinomontazh td {
	border-bottom: solid 1px white;
	border-top: solid 1px white;
	width: 17.3%;
}
.grid_car_table .bold_text, th {
	color: white;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}
.repair_tires, .ventil_installation,
.other, .straightening {
	display: grid;
	margin: auto;
	margin-top: 20px;
	place-items: center center;
	width: 65%;
}
.repair_tires {
	grid-template: 1.2fr repeat(6, 1fr) / 90% 10%;
}
.ventil_installation {
	grid-template: 1.2fr repeat(2, 1fr) / 90% 10%;
}
.other {
	grid-template: 1.2fr repeat(6, 1fr) / 90% 10%;
}
.straightening {
  grid-template: 1.2fr repeat(3, 1fr) / 90% 10%;
}

/*Стили для tires.html*/
.tires {
	font-size: 1.2em;
	margin: auto;
	min-width: 950px;
}
.tires_table{
	text-align: center;
	width: 100%;
}
.tires_table td {
	background-color: DarkOrange;
	vertical-align: middle;
}
.tires .summer, .tires .winter {
	font-size: 2em;
	font-weight: bold;
}
.tires tr:nth-child(n+22) td {
	background-color: MediumTurquoise;
	color: black;
}
.tires_link button {
	background-color: inherit;
	border: none;
	font-size: inherit;
	margin-top: 40px;
}
.tires_link a {
	background-color: LemonChiffon;
	border-radius: 50%;
	color: black;
	font-family: 'Azoft_Sans', Arial, sans-serif;
	padding: 20px;
}
.tires_link a:hover {
	background-color: LightYellow;
}

/*Стили для oil.html */
.oil {
	margin: auto;
	min-width: 700px;
}
.oil_brand {
	display: flex;
	flex-direction: column;
	top: 30vh;
  text-align: left;
  width: 25vw;
}
.oil_brand div {
	text-align: center;
	width: 25vw;
}
.oil_brand div:hover {
  background-color: orchid;
}
.oil_brand > div > div, .oil_brand:hover .oil_link {
	display: none;
}
.oil_brand:hover .oil_link:hover {
	display: block;
}
.oil_brand > div:hover > div {
  display: inline-grid;
	grid-template-columns: 70% 30%;
  position: fixed;
  right: 0vw;
  top: 65px;
  text-align: center;
  width: 65vw;
}
.oil_brand > .oil_brand_part1:hover > div {
  top: 186px;
}
.oil_brand > .toyota:hover > .toyota_table {
  top: 0px;
  z-index: 2;
}
.oil_brand > div > div > p {
	background-color: slateblue;
	margin: 0px;
}
.oil_brand > .toyota > div > p {
	margin: -2px;
}
.oil_brand > div > div :nth-child(4n+3),
.oil_brand > div > div :nth-child(4n+4) {
	background-color: RoyalBlue;
}
.oil_link {
	font-size: 1.2em;
	position: absolute;
	left: 30vw;
	text-align: center;
	top: 210px;
	width: 60vw;
	z-index: 0;
}
.oil_link button {
	background-color: inherit;
	border: none;
	font-size: inherit;
	margin-top: 40px;
}
.oil_link a {
	background-color: orchid;
	border-radius: 50%;
	font-family: 'Azoft_Sans', Arial, sans-serif;
	padding: 20px;
}
.oil_link a:hover {
	background-color: violet;
}