@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat/Montserrat-Light.eot');
	src: local('Montserrat Light'), local('Montserrat-Light'),
		url('fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/montserrat/Montserrat-Light.woff') format('woff'),
		url('fonts/montserrat/Montserrat-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
body {
	background-color: black;
	color: white;
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 200%;
	margin: 0;
	padding: 0;
	padding-bottom: 40px;
	width: 100%;
	height: 100%;
}
header {
	align-items: center;
	background-color: black;
	display: inline-flex;
	justify-content: space-between;
	position: fixed;
	max-height: 60px;
	min-width: 700px;
	width: 100%;
	z-index: 10; /*для перекрытия position: absolute;*/
}
a {
	color: white;
	text-decoration: none;
	white-space: nowrap;
}
a:hover {
	color: lightblue;
	transition: 1s;
}
nav a, header > h1 {
  padding: 15px;
}
nav :last-child {
  padding-right: 30px;
}
main {
	padding-top: 60px;
	text-align: center;
	overflow: hidden;
}
main .topic {
  padding: 30px;
}
.welcome {
	background: url(images/homepage/welcome_img.jpg) no-repeat center;
	background-size: cover;
	display: flex;
	place-items: center center;
	font-size: 3em;
	line-height: 200%;
	height: 767px;
	min-width: 700px;
	width: 100%;
	margin: auto;
	padding: 0;
}
.table-cell {
	margin: inherit;
}
.services {
	display: grid;
	gap: 1vw;
	grid-template: 420px auto 420px auto 420px auto / 50% 50%;
	place-items: center center;
	margin: auto;
	min-width: 800px;
	max-width: 1020px;
	width: 80%;
	word-wrap: break-word;
}
.services img {
  max-height: 100%;
  max-width: 100%;
}
.services .grid_cell {
	align-self: start;
}
.about_us_homepage {
	margin: auto;
  width: 50%;
}

/*Стили для shinomontazh.html и discs.html*/
.shinomontazh, .discs {
	font-size: 1.3em;
	margin: auto;
	width: 1020px;
}
.table_name {
	text-align: right;
}
.shinomontazh p, .shinomontazh td,
.discs p {                       /*голубой цвет для цен*/
	color: lightblue;
}
.star_text {
	font-size: 0.7em;
}
.shinomontazh table {
	margin-bottom: 30px;
}
.shinomontazh td {
/*border-bottom: solid 1px white;
	border-top: solid 1px white;*/
	width: 17.3%;
}
.shinomontazh th {
	color: white;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}
.repair_tires, .ventil_installation,
.other, .straightening {
	display: grid;
	gap: 1vw;
	place-items: center center;
	margin: auto;
	margin-top: 20px;
	width: 65%;
}
.repair_tires {
	grid-template: 1.2fr repeat(3, 1fr) 2fr / 80% 20%;
}
.ventil_installation {
	grid-template: 1.2fr repeat(2, 1fr) / 80% 20%;
}
.other {
	grid-template: 1.2fr repeat(6, 1fr) / 80% 20%;
}
.straightening {
  grid-template: 1.2fr repeat(3, 1fr) / 80% 20%;
}
.table_name img, .table_name h2,     /*делаю ячейки меньше*/
.repair_tires :nth-child(n),
.ventil_installation :nth-child(n),
.other :nth-child(n), .straightening :nth-child(n) {
	margin: 5px;
}

/*Стили для tires.html*/
.tires {
	font-size: 1.2em;
	margin: auto;
	min-width: 950px;
}
.tires_table{
	text-align: center;
	width: 100%;
}
.columns_name {
	display: grid;
	grid-template-columns: repeat(5, 12.5vw) 40vw;
}

.tires .summer, .tires .winter {
	font-size: 2em;
	font-weight: bold;
}
.tires td {
	background-color: #313F52;
	font-weight: bold;
}
.tires tr:nth-child(n+22) td {
	background-color: #545E52;
}

.tires_link button {
	background-color: inherit;
	border: none;
	border-radius: 50%;
	font-size: inherit;
	margin-top: 40px;
	padding: 20px;
}
.tires_link button:hover {
  transform: scale(1.2);
  transition: 2s;
}
.tires_link a {
	background-color: LemonChiffon;
	border-radius: 50%;
	color: black;
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: bold;
	padding: 20px;
}
.tires_link a:hover {
	background-color: LightYellow;
}
/* Попытка сделать выдвигающееся меню (не очень практично)
.tires ul, li {
	background-color: DarkOrange;	
	list-style: none;
	margin: 0px -1.1em;
	text-align: left;
	width: 12.5vw;
}
.tires li { 
	text-align: center;
	padding: 20px 0px;
	width: 100%;
}
.tires_list ul {
	left: -100vw;
	position: absolute;
}
.tires ul li:hover {
	background: tomato;
}
.tires ul li:hover > ul {
	transform: translate(115.4vw, -116px);
}
.tires .info li {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.tires .info li {
	width: 40vw;
}
*/
/* Попытка №2 
.hidden_info {
	position: relative;
	left: -1500px;
	opacity: 0;
	transition: 1s;
	z-index: -1;
}
.only_one_width:hover~.hidden_info,
.width:hover~.section,
.section:hover~.hidden_info,
.hidden_info:hover {
	opacity: 1;
	transform: translateX(1500px);
}*/

/*Стили для oil.html */
.oil {
	margin: auto;
	min-width: 700px;
}
.oil_brand {
	display: flex;
	flex-direction: column;
  text-align: left;
	top: 30vh;
  width: 25vw;
}
.oil_brand div {
	text-align: center;
	width: 25vw;
}
.oil_brand div:hover {
  background-color: orchid;
  transition: 1s;
}
.oil_brand:hover .oil_link {
	opacity: 0;
  transition: 0.5s;
}
.oil_brand:hover .oil_link:hover {
	opacity: 1;
}
.oil_brand > div > div {
  display: inline-grid;
	grid-template-columns: 70% 30%;
  justify-content: center;
  position: fixed;
  right: -80vw;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  width: 65vw;
  z-index: 10;
}
.oil_brand > div:hover > div {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: 0.5s;
}
.oil_brand > .toyota:hover > .toyota_table {
  font-size: 0.9em;
}
.oil_brand > div > div > p {
	margin: -1px;
}
.oil_brand > div > div :first-child,
.oil_brand > div > div :nth-child(2) {
	background-color: black;
}
.oil_brand > div > div :nth-child(n+3) {
	background-color: slateblue;
}
.oil_brand > .toyota > div > p {
	height: 20px;
}
.oil_brand > div > div :nth-child(4n+3),
.oil_brand > div > div :nth-child(4n+4) {
	background-color: RoyalBlue;
}
.oil_link {
	font-size: 1.2em;
	text-align: center;
	position: fixed;
	left: 30vw;
	top: 210px;
  transition: 1s;
	width: 60vw;
}
.oil_link button {
	background-color: inherit;
	border: none;
	border-radius: 50%;
	font-size: inherit;
	margin-top: 40px;
	padding: 20px;
}
.oil_link button:hover {
  transform: scale(1.2);
  transition: 2s;
}
.oil_link a {
	background-color: orchid;
	border-radius: 50%;
	color: white;
	font-family: 'Montserrat', Arial, sans-serif;
	padding: 20px;
}
.oil_link a:hover {
	background-color: violet;
}

/* Стили для about_us.html */
.about_us {
	font-size: 1.2em;
	margin: auto;
	min-width: 500px;
}
.equipment {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	column-gap: 1vw;
	margin: inherit;
	min-width: 800px;
	max-width: 1000px;
	width: 80%;
	word-wrap: break-word;
}
.equipment h3, .equipment p {
	background-color: DimGray;
	margin: 0;
	padding: 10px 5px 5px 5px;
}
.equipment~h2 {
	margin-top: 40px;
}
.staff {
	display: grid;
	grid-template-columns: 50% 50%;
	place-items: center center;
	margin:auto;
	width: 800px;
}
.equipment img, .staff img {
  max-height: 100%;
  max-width: 100%;
}
}